style{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h1{
    margin-left: 400px;
}
#board{
    margin-left: 300px;
    margin-top: 50px;
    background-color: lightgray;
    border-bottom: 1px solid black;
} 
